body {
    font-family: Arial, sans-serif;
}

.headers {
    color: rgb(183, 97, 200);
}

p {
    color: rgb(5, 132, 5);
}

.header {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    background-image: url(mult_flowers.png);
    background-repeat: repeat-x;
    color:rgb(183, 97, 200);
    text-shadow: 2px 2px 4px #0000;  
}
.container{
    display: flex;
    flex-direction: row;
    font-size:x-large;
}

nav {
    background-color: rgb(238, 237, 237);
    flex: 1; /* Adjust as needed */
    padding: 2%;
    width: 50%;
}
nav img{
    margin-top: 60px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color:rgb(5, 132, 5);
    font-weight: 500;
}

.section {
    flex:2;
    padding: 2%;
    width: 50%;
}
.section img{
    width: 95%;
}
.aside { 
    flex: 3; 
    background-color: rgb(238, 237, 237);
    padding: 0px 10px 20px;
}
.aside h4{
    border-bottom: 1px solid #000;
    padding-bottom: 0px;
}