
.figure_description{
    background-color: beige;
    font-weight: bold;
    color: black;
}
.value{
    background-color:beige;
    color: black;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }   

body {
    background-image:url(snow.gif);
    background-size: auto;
    width: 100%;
    height: 100%;
    background-repeat:initial;
    background-color:aliceblue;
}
h1{
    background-image:url(paw.jpg);
    background-repeat:no-repeat;
    background-origin: content-box;
    background-position: right top;
    background-size: 2%;

    
}