body{
    background-color: #E2FFFF;
    font-family:Arial, Verdana, sans-serif;
}
h1{
    background-color: #237B7B;
    color:#FFFFFF;
    line-height: 200%;
    font-family:Georgia, "Times New Roman", serif;
    text-indent:1em;
    text-shadow: 3px 3px 5px #000000;
    padding: 1em;
}
h2{
    background-color:#B0E6E6;
    color:#237B7B;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    border-bottom: 2px dashed #237B7B;
}
.nav{
    margin: auto;
    text-align: center;
    font-weight:bold;
    font-size: 1.25em;
    word-spacing: 1em;
    text-decoration: none;
}
p{
    font-size:.90em;
    text-indent:3em;
}
ul{
    font-weight:bold;
}
footer{
    border-top: thin solid #B0E6E6;
    padding-top: 10px;
    color: #333333;
}
