table { width: 600px;
    margin:auto;
    border: 4px solid #006;
    border-collapse: collapse;
}
caption { font-size: 1.2em;
    font-weight: bold; 
}
thead tr:first-of-type  { background-color: #006; color: #EAEAEA; 
}
tbody { font-family: Arial, sans-serif;
    font-size: .90em; 
    text-align: left;
}
tbody td { border-bottom: 1px #000033;
    padding-left: 25px;    

}
tbody th {
    padding: 10px;
}
tr:nth-of-type(odd) { background-color:
    #EAEAEA; }
    

   