table { width: 200px;
    margin: auto; 
}
caption { font-size: 2em;
    font-weight: bold; 
}
thead { background-color: #EAEAEA; 
}
tbody { font-family: Arial, sans-serif;
    font-size: .90em; 
}
tbody td { border-bottom: 1px #000033   dashed; padding-left: 25px; 
}
tfoot { background-color: #EAEAEA;
    font-weight: bold;
    text-align: center; }
   